body {
  margin: 0;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgba(218, 214, 214, 0.37);
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, '  Courier New',
    monospace;
} */
.dashboard-grid{
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 130px auto 0 auto
}

.dashboard-grid__component{
  width: 85%;
  margin: 10px auto; 
  text-align: center;
  box-shadow: 5px 5px 10px -5px rgba(107, 97, 97, 0.397);
  background-color: white;
}

.component__topbar{
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  width: 90%;
  left: 5%;
  transform: skew(5deg);
  z-index: 1;
  background-image: linear-gradient(to right, rgb(255, 174, 0) ,rgba(252, 156, 2, 0.644));
  box-shadow: 10px 10px 8px -10px #888888;
  border-radius: 2px;
  font-size: 16px;
  color: white

}

.component__topbar h2{
  transform: skew(-5deg);

}

/* .ticket{
  position: relative;
} */

.popup{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  /* width and height for the overlay lightgrey background */
  width: 100%;
  height: 100%;
 
}

.popup__content{
  position: absolute;
  width: 40%;
  height:40vh;
  left: 30%;
  top: 30%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.close:hover{
  color: cyan
}

.close{
  float: right;
  cursor: pointer;
}

.hidden{
  display: none
}

.dashboard-grid__component--hidden{
  display: none;
}