.login{
    margin-top: 30vh;
    width: 50%
}

.login-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bangers', cursive, Helvetica, Arial, sans-serif;
    font-size: 25px;
}

.login-navbar__header{
    margin: 0; 
}