.nav-menu--active{
    display: none;
}

.navbar{
    position: fixed;
    top: 0;
    background-color: lightgray;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.navbar__logo{
    padding-left: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
}

.login-navbar__text{
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.navbar__logout{
    margin-left: 30%
}